body{
	font-family: arial;
	background-color: #C8C8C8;
}
.icon{
	border-radius: 140px;
	margin: 5px;
}
.navigation{
	display: flex;
	background-color: red;
	border-radius: 100px;
	width: 100%;
}
.box-1{
	margin: 30px;
}
.box-1 input{
	height: 25px;
	border-radius: 42px;
	width: 200px;
}
.box-3{
	background-color:#D35230;
	border-radius: 100px;
	text-align: center;
	width: 20%;
	height: 800px;
}
.d7 input {
  width: 60%;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
}
.d7 {
	flex: 2;
	margin: 20px;
}
.box-4{
	background-color:#FF8F6B;
	border-radius: 100px;
	width: 80%;
}
.basic{
	display: flex;
	grid-gap: 30px;
	margin: 10px;
	max-width: 230vh;
}
.box-7{
	display: flex;
	margin: 10px;
}

.navigation div,.basic div,.box-7 div{
	padding: 10px;
	border: none;
}
.home{
	flex: 1;
	margin: 20px;
}
.box-2{
	width: 800px;
}
.box-8 {
	background-color:#FF8F6B;
	border-radius: 100px;
	width: 1620px;
}
table{ 
  border-radius:40px;
  text-align: center; 
  width: 100%;
  background-color:green;
  align-content: center;
}
.al td{
	background-color: white;
}

h1{
	color: white; 
}
p{
	color: white;
}
a{
	color: white;
}
a:visited{
	color: #cecece;
}
a:active{
	color: #ffff00;
}
video{
	width: 100%;
}
